body 
{
	font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, Osaka, "‚l‚r ‚oƒSƒVƒbƒN", "MS P Gothic", sans-serif;
	font:100%/1.4;
	background: #ffffff;
	text-align:center;
	margin: 0;
	padding: 0;
	color: #000;
}

a:link { COLOR: #000000; }
a:visited { COLOR: #000000; }
a:hover { COLOR: #ff00ff; }
a:active { COLOR: #000000; }
