:link, :visited {
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, pre, code, p {
	font-weight:normal;
	font-size: 1em;
}
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input {
	padding: 0;
	margin: 0;
}
a img, :link img, :visited img {
	border: none;
}

hr 
{
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input
{
    font-family:Arial,Helvetica,sans-serif;
}

address {
	font-style: normal;
}

.clearfix:after 
{
  content: ".";  
  display: block;  
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix 
{
  min-height: 1px;
}

* html .clearfix 
{
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}